.dialog {
  padding: 16px 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.cancelButton {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  font-size: 14px;
  color: black;
  margin: 8px 8px;
  background-color: transparent;
  border: 1px solid #62825d;
  cursor: pointer;
}

.cancelButton:hover {
  background-color: #57a05b;
  border: 1px solid #62825d;
}

.confirmButton {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  font-size: 14px;
  color: black;
  margin: 8px 8px;
  background-color: #9edf9c;
  border: 1px solid #62825d;
  cursor: pointer;
}

.confirmButton:hover {
  background-color: #57a05b;
  border: 1px solid #62825d;
}

.bottomButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}
